@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');

:root
{
    --white: hsl(1, 0%, 100%);
    --soft-blue: hsl(231, 69%, 60%);
    --soft-red: hsl(0, 94%, 66%);
    --grayish-blue: hsl(229, 8%, 60%);
    --very-dark-blue: hsl(229, 31%, 21%);
}

*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body 
{
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    overflow-x: hidden;
}

p, h1, h2, h3, h4, h5, h6 
{
    margin: 0;
}
  
ul, li 
{
    list-style: none;
}

a 
{
    text-decoration: none;
}
  
.flex 
{
    display: flex;
}
  
.container 
{
    display: flex;
    flex-direction: column;
}

main 
{
    display: flex;
    flex-direction: column;
}
  
footer 
{
    display: flex;
    flex-direction: column;
}
  
.simpBookmarkText 
{
    flex-direction: column;
}
  
.tabDiv 
{
    flex-direction: column;
    align-items: center;
}
  
.btn 
{
    display: inline-block;
    object-fit: cover;
    padding: 7px 15px;
    border-radius: 5px;
    border: none;
    outline: none;
}
  
.blue.btn:hover 
{
    background-color:var(--white);
    color: var(--soft-blue);
    border: 2px solid var(--soft-blue);
}
  
.red.btn:hover 
{
    background-color: var(--white);
    color: var(--soft-red);
    border: 2px solid var(--soft-red);
}
  
.blue 
{
    background-color: var(--soft-blue);
    color: var(--white);
    font-weight: 500;
    text-align: center;
    font-size: 18px;
}
  
.red 
{
    background-color: var(--soft-red);
    color: var(--white);
    font-weight: 500;
    text-align: center;
    font-size: 18px;
}
  
.tabPrgrph
{
    flex-direction: column;
}
  
.download 
{
    flex-direction: column;
}
  
.downloadText 
{
    flex-direction: column;
}
  
.card 
{
    flex-direction: column;
}
  
.contact 
{
    flex-direction: column;
}
  
.headings 
{
    flex-direction: column;
}
  
.inputValid 
{
    flex-direction: column;
}
  
nav ul.flex li a 
{
    text-transform: uppercase;
    color: var(--very-dark-blue);
}
  
nav ul.flex li a:hover 
{
    color: var(--soft-red);
    cursor: pointer;
}
  
.red.btn 
{
    color: #fff;
}
  
.red.btn:hover 
{
    color: var(--soft-red);
    background-color: var(--white);
    border: 2px solid var(--soft-red);
}
  
h1 
{
    font-size: 3em;
    color: var(--very-dark-blue);
}
  
h3, h4 
{
    color: var(--very-dark-blue);
}
  
p 
{
    color: var( --grayish-blue);
    line-height: 1.5em;
}
  
.buts 
{
    display: flex;
    font-size: 20px;
    font-weight: 500;
}
  
.center 
{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
  
.question 
{
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
  
.questionText 
{
    flex-direction: column;
    width: 50%;
    text-align: center;
}
  
.questionAccordion 
{
    width: 50%;
}
  
.questionText h2 
{
    color: var(--very-dark-blue);
    margin-bottom: 20px;
}
  
.but 
{
    margin-top: 20px;
}
  
.bookmark.flex 
{
    align-items: center;
}
  
.tab1 
{
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    margin-bottom: 20px;
    margin-top: 20px;
}
  
.tabContent-wrap1 
{
    width: 100%;
    flex-direction: column;
    height: auto;
    align-items: center;
}
  
.tab1 button 
{
    background: transparent;
    cursor: pointer;
    outline: none;
    transition: all .5s ease;
    padding-top: 15px;
    padding-bottom: 15px;
    border: none;
}
  
.tab-links1 
{
    background: transparent;
}
  
.accordionIcon 
{
    margin-top: 10px;
    text-align: right;
}
  
button.tab-links1:first-child 
{
    border-top: 1px solid #999;
}
  
.button-wrap1 p 
{
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: var(--very-dark-blue);
    font-weight: 500;
    transition: color .2s ease;
    border: none;
}
  
.button-wrap1:hover p 
{
    color: var(--soft-red);
}
  
.button-wrap1 .accordionIcon 
{
    width: auto;
    height: 7px;
    object-fit: cover;
}
  
.button-wrap1 
{
    display: flex;
    justify-content: space-between;
}
  
.tab1 button:hover h4 
{
    opacity: 1;
}

  /* Tab Content */
 .tabContent1 
 {
    display: none;
    height: auto;
}
  
.showContent1 
{
    display: block;
}
  
.tabContent-des1 
{
    height: auto;
}
  
.tabContent-wrap1 
{
    height: auto;
}
  
.tabContent-des1 h4 
{
    color: var(--very-dark-blue);
    font-size: 1.6rem;
    margin-bottom: 20px;
}
  
.tabContent-des1 p 
{
    width: 100%;
    height: auto;
    color: var( --grayish-blue);
    margin-bottom: 20px;
}
  
.contact 
{
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
  
.contact h3, h5 
{
    color: var(--white);
    text-align: center;
    font-weight: none;
}
  
.contact h2 
{
    margin-bottom: 20px;
}
  
.contact h5 
{
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
  
.emailAlert.show 
{
    display: block;
}

@media screen and (max-width: 1440px) {
    .question 
    {
        padding: 60px 165px;
    }

    nav 
    {
        padding: 60px 165px;
        justify-content: space-between;
        align-items: center;
    }
    nav ul .flex 
    {
        justify-content: space-between;
        align-items: center;
    }

    nav ul li 
    {
        margin-left: 20px;
    }

    .hamburger
    {
        display: none;
    }

    .simpleBookmark 
    {
        padding: 60px 0px 60px 165px;
    }

    .simpleBookmark .blue .btn 
    {
        padding: 7px 15px;
        font-weight: 500;
        text-align: center;
        font-size: 18px;
    }

    .simpleBookmark .lightGrey.btn
    {
        padding: 7px 15px;
        font-weight: 500;
        text-align: center;
        font-size: 18px;
        background: #E5E5E5;
    }

    .simpleBookmark .lightGrey.btn:hover 
    {
        border: 2px solid var( --grayish-blue)
    }

    .simpleBookmark::after
    {
        content: '';
        position: absolute;
        top: 340px;
        right: 0;
        width: 400px;
        height: 350px;
        border-top-left-radius: 600px;
        border-bottom-left-radius: 600px;
        background-color: var(--soft-blue);
        z-index: -1;
    }

    .simpBookmarkText 
    {
        margin-top: 50px;
    }

    .simpBookmarkText .buts .blue.btn
    {
        margin-right: 15px;
    }

    .simpBookmarkText button.btn
    {
        font-size: 15px;
        font-weight: 500;
        width: 100%;
    }

    .simpBookmarkText h1
    {
        margin-bottom: 20px;
    }

    .simpBookmarkText p
    {
        margin-bottom: 20px;
        line-height: 1.7em;
        color: var(--grayish-blue);
    }

    .simpBookmarkText .btn
    {
        width: 160px;
    }

    .simpBookmarkText .btn:hover
    {
        border: 1px solid var(--grayish-blue);
        color: var(--grayish-blue);
        background: var(--white);
        cursor: pointer;
    }

    .simpBookmarkText .btn.blue:hover
    {
        border: 2px solid var(--soft-blue);
        color: var(--soft-blue);
        background: var(--white);
        cursor: pointer;
    }

    .tabDiv
    {
        width: 1440px;
        height: 800px;
        max-width: 1440px;
        padding: 60px 165px 60px 0px;
    }

    .tabDiv::before
    {
        content: '';
        position: absolute;
        top: 1200px;
        right: 0;
        width: 400px;
        height: 350px;
        border-top-left-radius: 600px;
        border-bottom-left-radius: 600px;
        background-color: var(--soft-blue);
        z-index: -1;
    }

    .tabPrgrph
    {
        flex-direction: column;
        align-items: center;
    }

    .tabPrgrph h3 
    {
        margin-bottom: 20px;
    }

    .tabPrgrph p 
    {
        margin-bottom: 40px;
        width: 40%;
        text-align: center;
    }

    .download
    {
        padding: 60px 165px;
    }

    .download img.social
    {
        display: block;
        width: auto;
        height: 100px;
        object-fit: cover;
        margin-bottom: 30px;
    }

    .download img.dot 
    {
        height: 4px;
        width: 100%;
        object-fit: cover;
    }

    .cards
    {
        justify-content: center;
        height: 400px;
    }

    .card
    {
        padding-top: 25px;
        padding-bottom: 25px;
        align-items: center;
        justify-content: space-between;
        border-radius: 15px;
        box-shadow: 0px 8px 20px -1px rgba(119, 119, 119, 1);
    }

    .card p 
    {
        margin-bottom: 30px;
    }

    .card .btn 
    {
        margin-top: 20px;
    }

    .card:first-child
    {
        margin-right: 40px;
        align-self: flex-start;
    }

    .card:nth-child(2)
    {
        align-self: center;
    }

    .card:last-child
    {
        flex-direction: column;
        align-items: center;
    }

    .downloadText 
    {
        flex-direction: column;
        align-items: center;
    }
    
    .downloadText h3 
    {
        margin-bottom: 30px;
    }
    
    .downloadText p 
    {
        margin-bottom: 40px;
        width: 40%;
        text-align: center;
    }
    
    .card .btn:hover 
    {
        background-color: var(--white);
        color: var(--soft-blue);
        border: 2px solid var(--soft-blue);
    }

      /* Tab Button */
    .tab 
    {
        display: flex;
        justify-content: center;
        font-family: 'Rubik', sans-serif;
        font-size: 18px;
        margin-left: 40px;
    }

    .tab button 
    {
        width: 200px;
        height: 50px;
        background: var(--white);
        border: none;
        cursor: pointer;
        outline: none;
        transition: all .5s ease;
        margin-bottom: 100px;
        margin-right: 40px;
        border-bottom: 0.5px solid var(--grayish-blue);
    }

    .tab button:hover {
        background: var(--white);
        border-bottom: 5px solid var(--soft-red);
    }

    .tab button h4 {
        font-family: 'Rubik', sans-serif;
        font-size: 18px;
        font-style: none;
        font-weight: none;
        color: var(--grayish-blue );
    }

    .tab button:hover h4 
    {
        opacity: 1;
    }

    /* Tab Content */
    .tabContent 
    {
        display: none;
    }

    .showContent 
    {
        display: block;
    }

    .tabContent-wrap 
    {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 100px;
    }

    .tabContent-des h4 
    {
        color: var(--very-dark-blue);
        font-size: 1.6rem;
        margin-bottom: 20px;
    }

    .tabContent-des p {
        width: 400px;
        color: var(--grayish-blue);
        margin: 0;
        margin-bottom: 20px;
    }

    .tabContent-img {
        width: 100%;
        height: auto;
        margin: 0;
    }

    .tabContent-des {
        width: 100%;
        margin-left: 0;
        padding-left: 0;
    }

    .tabContent-img img {
        width: 536px;
        height: auto;
        margin-right: 120px;
    }

    .contact {
        padding-top: 75px;
        padding-bottom: 75px;
        background-color: var(--soft-blue);
        color: var(--white);
    }

    .emailCorrection {
        border: none;
        outline: none;
        padding: 8px;
        border-radius: 5px;
        font-weight: 500;
        font-size: 14px;
        width: 230px;
    }

    .inputValid {
        background-color: transparent;
        border-radius: 5px;
        padding: 3px;
        display: flex;
        align-items: flex-start;
        margin-right: 10px;
    }

    .inputValid p {
        color: var(--white);
        font-size: 12px;
        font-weight: 500;
        font-style: italic;
        display: none;
    }

    footer {
        background-color: var(--very-dark-blue);
        padding: 35px 165px 10px 165px;
        justify-content: center;
        align-items: space-between;
    }

    .footerTop {
        justify-content: space-between;
        padding-bottom: 0px;
        margin-bottom: 0px;
    }

    .footerTop ul.flex {
        margin-left: 50px;
    }

    .footerTop ul.flex li a {
        text-transform: uppercase;
        margin-right: 20px;
        color: #fff;
    }

    .footerTop ul.flex li a:hover {
        color: tomato;
    }

    footer .social img:first-child {
        margin-right: 20px;
    }

    .filterIcon:hover {
        filter: invert(42%) sepia(34%) saturate(1085%) hue-rotate(314deg) brightness(107%) contrast(105%);
    }

    .footerBottom {
        display: flex;
        align-items: flex-end;
        margin-top: 20px;
        justify-content: center;
    }
}